/* =========================================== Genral ============================================ */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 100vh;
  background-color: cornsilk;
  overflow:auto;
  background-size: cover;
  background-image: url("img/bg_7_photos_v2_x4.jpg");
}

/* =========================================== The Game ============================================ */
/* ======================================= Game Styling ======================================================= */

.memory-game-container {
  width: 840px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 0px;
  perspective: 1000px;
  position: relative;
  top:150px;
  border: solid 5px greenyellow;
  box-shadow:  0 0 30px greenyellow;
  border-radius: 20px;
  animation: mymove 10s infinite;
  padding: 5px;
}
@keyframes mymove {
  50% {box-shadow:  0 0 80px greenyellow; }
}
.memory-card {
  width: 200px;
    height:180px;
    /* border: 2px solid greenyellow; */
    position: relative;
    align-items: flex-start;
    max-height: 180px;
    margin-left:4px;
    margin-top:3px;
    box-shadow: 2px indigo;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    padding-bottom: 10px;
    /* z-index: 10; */
    /*padding-top: 20px;*/
}
.memory-card.flip {
  transform: rotateY(180deg);
}
.memory-card:active {
  transform: scale(0.97);
  /* transition: transform 0.2s; */
}
.front-face,
.back-face {
  width: 100%;
    height: 100%;
    position: absolute;
    padding: 40px;
    /* border: 2px solid blue;  */
    border-radius: 10px;
    backface-visibility: hidden;
    background-color: white;
}
.front-face {
  transform: rotateY(180deg);
}
.timer,
#countdown {
  position: relative;
  left: 85%;
  display: inline-block;
}

#countdown {
  /* display: inline-flex;  */
  display: inline;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0;
  width: 200px;
  height: 70px;
  font-size: 50px;
  position: absolute;
  margin-top: 5px;
}

#score_ {
  /* display: inline-flex;  */
  display: inline;
  align-items: center;
  justify-content: center;
  color: white;
  background: orangered;
  border-radius: 30px;
  opacity: 0.8;
  margin: 0;
  width: 200px;
  height: 50px;
  font-size: 30px;
  margin-top: 70px;
  position: absolute;
  border: 3px solid orangered;
  box-shadow:  0 0 30px orangered;
  left: 50px;
  top: -45px;
  padding-left: 10px;
  padding-top: 2px;
  animation: score_shadow 10s linear infinite;
}
@keyframes score_shadow {
50% {box-shadow:  0 0 80px orangered; }
}
#lost{
  background-color: orangered;
  opacity: 0.7;
  border: 2px solid orangered;
  border-radius: 25px;
  display: none;
  position: relative;
  left: 600px;
  color: white;
  padding :100px;
  bottom: 100px;
  width: 40%;
}
#lost{
background-color: firebrick;
text-align: center;
opacity: 0.9;
border: solid 3px black;
border-radius: 25px;
display: none;
position: absolute;
left: 400px;
color: white;
font-family: "Lobster";
font-size: 28px;
padding :20px;
bottom: 200px;
width: 40%;
box-shadow:  0 0 30px black;
animation: lost 10s infinite;
}
@keyframes lost {
50% {box-shadow:  0 0 80px black; }
}
#lost_title{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #fafafa;
font-size: 24px;
font-weight: bold;
/* font-style: italic; */
}
#redirect_text{
font-size: 18px;
color: black;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}

#won{
background-color: teal;
text-align: center;
opacity: 0.9;
border: solid 3px turquoise;
border-radius: 25px;
display: none;
position: absolute;
left: 400px;
color: white;
font-family: "Sofia";
font-size: 28px;
padding :20px;
bottom: 200px;
width: 40%;
box-shadow:  0 0 30px turquoise;
animation: won 10s infinite;
}

@keyframes won {
50% {box-shadow:  0 0 80px turquoise; }
}

#won_title{
font-family: "Sofia";
color: #fafafa;
font-size: 26px;
font-weight: bold;
/* font-style: italic; */
}

#won_lastMinute{
background-color: rgb(207, 207, 25);
text-align: center;
opacity: 0.9;
border: solid 3px yellow;
border-radius: 25px;
display: none;
position: absolute;
left: 400px;
color: white;
font-family: "Sofia";
font-size: 28px;
padding :20px;
bottom: 150px;
width: 40%;
box-shadow:  0 0 30px yellow;
animation: won_LastMin 10s infinite;
}

@keyframes won_LastMin {
50% {box-shadow:  0 0 80px yellow; }
}
#won_lastMinute_title{
font-family: "Sofia";
color: #fafafa;
font-size: 26px;
font-weight: bold;
}


/* play button */
/******/
/*Try*/
.button {
border: 0;
background: transparent;
box-sizing: border-box;
width: 0;
height: 74px;

border-color: transparent transparent transparent #202020;
transition: 100ms all ease;
cursor: pointer;

border-style: solid;
border-width: 37px 0 37px 60px;


}
.paused {
border-style: double;
border-width: 0px 0 0px 60px;
}

.button:hover {
border-color: transparent transparent transparent #2e555a;
}
/****/
#h2pDiv{
margin-top: 20px;
}
span{
padding-left:10px;
}


/*how to play*/
/*$$$$$$$$$$$$$$$$$$$$$*/
/*Image Part*/
img {
padding-top: 15px;
margin-left: 1;
width: 300px;
height: 250px;
bottom: 0;
}